@{ 
    try
    {
        if (MugShareApplication.Controllers.BaseController.SessionStorage.Username == null)
        {
            Response.Redirect("/Home/LogIn");
        }
    }
    catch (Exception)
    {
        Response.Redirect("/Home/LogIn");
    }
}   

@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/knockout")

    @section Javascript {
    <script src="~/Scripts/Views/Home/MugReturn.js"></script>
    @* Mug-Share Users URLs *@
    <script type="text/javascript">
        var ProcessReturn_URL = '@Url.Action("ProcessReturn", "Home")';
        var MonthlyChart_Data_URL = '@Url.Action("MonthlyChartData", "Home")';
        var YearlyChart_Data_URL = '@Url.Action("YearlyChartData", "Home")';
        var GetRFID_URL = '@Url.Action("GetRFID", "Home")';
    </script>
    <script src="~/Scripts/knockout-3.4.2.js"></script> 
}

<div class="jumbotron" id="MugReturn">
    <div id ="MugCounter" class="col-md-4">
        <img src="~/Content/Images/mug_logo.gif" width="250" height="300"/>
    </div>
    <div id="MugCounter" class="col-md-4">
        THIS YEAR<br /> <h3><span id="MugCountYearly" data-bind="text: MugCountYearly"></span></h3>mugs borrowed
    </div>
    <div class="col-md-4">
        <!-- Trigger the modal with a button -->
        <button type="button" onclick="returnModal()" class="btn btn-info btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#MugReturnModal">Mug Return</button>

        <!-- Modal -->
        <div id="MugReturnModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" style="color: black;" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" style="color: black;">Mug Return</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-offset-1 col-md-3">Mug ID:</label>
                                <div class="col-md-8">
                                    <input type="text" data-bind="text: MugID">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-7"><button type="button" class="btn btn-default" data-bind="click: getRFID">Scan RFID</button></label>
                            </div>
                        </form>                    
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="returnModal_submit()" class="btn btn-info col-md-offset-5">Process Return</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br style="clear:both;" />
</div>

<div class="row">
    <div class="col-md-5 text-center">
        <button type="button" onclick="MonthlyChartDataAjax()" class="btn btn-info btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#MonthlyStatisticsModal">Monthly Statistics</button>
    </div>
    <div class="col-md-5 text-center">
        <button type="button" onclick="YearlyChartDataAjax()" class="btn btn-info btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#YearlyStatisticsModal">Yearly Statistics</button>
    </div>
</div>

@*--------------------------------------------------------------------------------------
    * MONTHLY STATISTICS CHART MODAL
    * ----------------------------------------------------------------------------------*@
<div id="MonthlyStatisticsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color: black;" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color: black;">Monthly Statistics Chart</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <canvas id="MonthlyStatistics"></canvas>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*--------------------------------------------------------------------------------------
    * YEARLY STATISTICS CHART MODAL
    * ----------------------------------------------------------------------------------*@
<div id="YearlyStatisticsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color: black;" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color: black;">Yearly Statistics Chart</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <canvas id="YearlyStatistics"></canvas>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>