@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Sign Up";
}
@section Javascript {
    <script src="~/Scripts/Views/Datatables/MugShareUsers.js"></script>
    @* Mug-Share Users URLs *@
    <script type="text/javascript">
        var MSU_Table_Data_URL = '@Url.Action("MSU_TableData", "Datatables")';
        var MSU_CreateRecord_URL = '@Url.Action("MSU_Create", "Datatables")';
        var MSU_StudentNumber_URL = '@Url.Action("MSU_StudentNumberValidator", "Datatables")';
        var MSU_Email_URL = '@Url.Action("MSU_EmailValidator", "Datatables")';
    </script>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron" id="SignUp">
        <h2 style="text-align:center; font-weight: bold;">Sign Up</h2>
        <br />
        <form class="form-horizontal">

            @* Student Number Field *@
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-4">UBC ID<label style="color:red;" />*</label></label>
                <div class="col-sm-6" id="C_StudentNumber">
                    <input type="text" class="form-control" title="Student number must be 7 or 8 digits long. (eg. 1234567 or 12345678)" onkeypress="numCheck(event)" data-bind="textInput: StudentNumber" required>
                </div>
            </div>

            @* First Name Field *@
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-4">First Name<label style="color:red;" />*</label></label>
                <div class="col-sm-6" id="C_FirstName">
                    <input type="text" class="form-control" data-bind="textInput: FirstName" required>
                </div>
            </div>

            @* Last Name Field *@
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-4">Last Name<label style="color:red;" />*</label></label>
                <div class="col-sm-6" id="C_LastName">
                    <input type="text" class="form-control" data-bind="textInput: LastName" required>
                </div>
            </div>

            @* Email Field *@
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-4">Email<label style="color:red;" />*</label></label>
                <div class="col-sm-6" id="C_Email">
                    <input type="email" class="form-control" onkeypress="noSpaces(event)" data-bind="textInput: Email" required>
                </div>
            </div>

            @* Notes Field *@
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-4">Notes</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" data-bind="textInput: Notes"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" onclick="MSU_create_submit()" class="btn btn-info col-md-offset-5">Save</button>
        <button type="button" onclick="location.href='@Url.Action("Login","Home")'" class="btn btn-default" >Cancel</button>
    </div>
</body>
</html>
